@font-face {
    font-family: hel;
    src: url(./Fonts/helveticaneuew01-45ligh.latin.woff2);
}

@font-face {
    font-family: vel;
    src: url(./Fonts/rijG6I_IOXJjsH07UEo2mw.woff2);
}

* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100%;
    position: relative;
}

:root {
    --fc: #444342;
    --para: #1d1d1d;
    --bg: #FFB700;
    --hili: #ffd000;
    --header: 1.4rem;
    --title: 2.66rem;
    --starth1: 3em;
    --menu: 1.99rem;
    --main: 1.22rem;
    --btntext: .8rem;
    --carttext: 1.4em;
    --h5: .88rem;
    --pch1: 6vw;
}

#cursor {
    width: 4vw;
    filter: blur(15px);
    border-radius: 50%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9;
    aspect-ratio: 1;
    background-color: var(--bg);
    pointer-events: none;
    mix-blend-mode: color-dodge;
    transform: translate(-50%, -50%);
}

@media (max-width:767px) {

    body {
        background-color: var(--bg);
        width: 100%;
        height: 100%;
    }

    #cursor {
        display: none;
    }

    main {
        width: 100%;
        height: 100%;
        position: relative;
        background-color: var(--bg);
    }

    /* header section starts here  */

    header {
        width: 100%;
        padding: .5rem 1rem;
        position: fixed;
        background-color: transparent;
        top: 0%;
        backdrop-filter: blur(5px);
        z-index: 3;
        transition: all ease-in-out .2s;
    }

    /* nav section starts here  */

    header nav {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: relative;
    }

    /* slidebar menue for mobile screen  */
    .menuu {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        flex-direction: column;
        height: 100vh;
        width: 60%;
        background-color: #4443428a;
        backdrop-filter: blur(5px);
        position: absolute;
        top: 0%;
        right: -100%;
        z-index: 2;
        padding: 2rem;
        transition: all ease-in-out .7s;
    }

    .logm {
        display: inline-block;
        padding: .2em 3em;
        border-radius: 5px;
        border: none;
        font-size: var(--carttext);
        cursor: pointer;
        margin-bottom: 20%;
    }

    .nav-list2 {
        display: flex;
        flex-direction: column;
        color: var(--hili);
        justify-content: space-around;
        list-style-type: none;
        gap: 2em;
        font-family: vel;
        font-weight: 900;
        font-size: var(--carttext);
        text-align: start;
    }

    .close {
        opacity: 0;
        display: inline-block;
        cursor: pointer;
        font-size: var(--menu);
        position: absolute;
        top: 10%;
        z-index: 5;
        right: 5%;
    }

    /* nav bar for pc view */
    nav img {
        width: 2.8rem;
        aspect-ratio: 1/1;
    }

    .nav-list {
        display: none;
    }

    .log {
        display: none;
    }

    #menu {
        display: inline-block;
        cursor: pointer;
        font-size: var(--menu);
        position: absolute;
        top: 10%;
        z-index: 6;
        right: 5%;
    }

    /* hero section starts here  */

    #hero {
        margin-top: 18%;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column-reverse;
        padding: 0 1.2rem;
        position: relative;
        gap: 2.4em;
    }

    /* hero left part  */
    .left {
        width: 100%;
        display: flex;
        align-items: center;
        flex-direction: column;
        padding: 1em 0;
    }

    .left h1 {
        font-weight: 900;
        font-family: vel;
        font-size: var(--title);
        text-align: center;
        color: white;
    }

    h5 {
        font-size: var(--h5);
        font-family: hel;
        font-weight: 600;
    }


    .hbtn {
        margin-top: 1em;
        padding: .6em 1em;
        border-radius: 5px;
        font-weight: 700;
        background-color: transparent;
        border: 1px solid white;
        font-family: hel;
        font-size: var(--main);
        cursor: pointer;
    }

    /* hero right part  */
    .right {
        width: 100%;
        display: flex;
        border-radius: 9px;
        position: relative;
    }

    .hi1 {
        width: 100%;
        object-fit: cover;
        -o-object-fit: cover;
        border-radius: 9px;
        aspect-ratio: 3/2;
        filter: drop-shadow(3px 3px 4px rgba(0, 0, 0, 0.61));
    }

    .hi2 {
        position: absolute;
        opacity: 0;
        top: 0%;
        left: 0%;
        width: 100%;
        object-fit: cover;
        -o-object-fit: cover;
        border-radius: 9px;
        aspect-ratio: 3/2;
        filter: drop-shadow(3px 3px 4px rgba(0, 0, 0, 0.61));
    }

    /* new collection section  */

    #new {
        margin-top: 10%;
        width: 100%;
        padding: 0 1.2rem;
        position: relative;
        gap: 2.4em;

    }

    #new h1 {
        font-size: var(--starth1);
        width: 100%;
        font-family: vel;
        font-weight: 900;
        letter-spacing: 2px;
        line-height: 2;
        text-align: center;
        text-transform: uppercase;
    }

    #newcards {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        gap: 1em;
        flex-wrap: nowrap;
        overflow: scroll;
        /* or auto if you want to show only when needed */
        -ms-overflow-style: none;
        /* IE and Edge */
        scroll-behavior: smooth;
        scrollbar-width: none;
    }

    #newcarsds::-webkit-scrollbar {
        display: none;
        /* Correct way to hide scrollbar */
    }

    .cardin {
        width: 30vh;
        aspect-ratio: 2/1;
        background-color: white;
        position: relative;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        /* box-shadow: 3px 3px 16px rgba(0, 0, 0, 0.397); */
    }
/* 
    .nimgs {
        width: 100%;
        position: relative;

    }

    .nimgs img {
        border-top-right-radius: 10px;
        border-top-left-radius: 10px;
        width: 100%;
        object-fit: cover;
        aspect-ratio: 1;
    }


    .nbott {
        position: absolute;
        top: 0%;
        left: 0%;
        opacity: 0;
    }

    .ntop {
        opacity: 1;
    } */

    
        /* card image  */
        .nimgs {
            width: 100%;
            aspect-ratio: 1;
            position: relative;
        }
    
        .nimgs img {
            border-top-right-radius: 10px;
            border-top-left-radius: 10px;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
            aspect-ratio: 1/1;
            transition: all ease-in-out .4s;
        }
    
        /* card top image */
        .nimgs .nbott {
            opacity: 0;
            z-index: 1;
          }
          
          .nimgs:hover .nbott {
            opacity: 1;
          }
          
          .nimgs:hover .ntop {
            opacity: 0;
          }
    
    
    .nname {
        padding: 0 1em;
    }

    .nname h3 {
        width: 100%;
        font-size: var(--main);
        font-family: vel;
        font-weight: 300;
        text-align: start;
    }

    .nname p {
        font-size: var(--btntext);
        font-family: hel;
        font-weight: 200;
    }

    .nsize {
        padding: .6em .99em;
        display: flex;
        align-items: center;
        gap: 1em;
        font-family: vel;
        font-size: var(--btntext);
    }

    .nsize h6 {
        padding: 5px;
        transition: all ease .5s;
        border: 1px solid goldenrod;
        border-radius: 4px;
    }

    .nprice {
        padding: .8em 1em;
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 1em;
    }

    .nprice h5 {
        font-size: var(--h5);
        color: rgb(61, 97, 6);
        font-weight: 700;
        font-family: vel;
    }

    .ncart {
        padding: .3em 1em;
        border-radius: 5px;
        font-weight: 700;
        background-color: var(--hili);
        border: none;
        box-shadow: 0px 0px 5px var(--para);
        color: var(--fc);
        font-family: vel;
        font-size: .66em;
        cursor: pointer;
        transition: all ease-in-out .5s;
    }

    /* collection section */

    #collection {
        margin-top: 8%;
        width: 100%;
        padding: 0 1.2rem;

    }

    #collection h1 {
        font-size: var(--starth1);
        width: 100%;
        font-family: vel;
        font-weight: 900;
        letter-spacing: 2px;
        line-height: 2;
        text-align: center;
        text-transform: uppercase;
    }

    /* cards process starts from here  */

    #cards {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-around;
        flex-direction: column;
        gap: 1.8rem;
    }

    .card {
        width: 35vh;
        background-color: white;
        position: relative;
        border-radius: 20px;
        display: flex;
        flex-direction: column;
        box-shadow: 3px 3px 16px rgba(0, 0, 0, 0.397);
    }
    .imgs {
        width: 100%;
        aspect-ratio: 1;
        position: relative;
    }

    .imgs img {
        border-top-right-radius: 20px;
        border-top-left-radius: 20px;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        aspect-ratio: 1/1;
        transition: all ease-in-out .8s;
    }

    /* card top image */
    .imgs .bott {
        opacity: 0;
        z-index: 1;
      }
      
      .imgs:hover .bott {
        opacity: 1;
      }
      
      .imgs:hover .top {
        opacity: 0;
      }
    .name {
        padding: .8em 1.5em;
    }

    .name h3 {
        font-size: var(--carttext);
        font-family: vel;
        font-weight: 300;
        text-align: start;
    }

    .name p {
        font-size: var(--btntext);
        font-family: hel;
        font-weight: 200;
    }

    .size {
        padding: .1em 1.5em;
        display: flex;
        align-items: center;
        gap: 1em;
    }

    .size h6 {
        padding: 5px;
        transition: all ease .5s;
        border: 1px solid goldenrod;
        border-radius: 4px;
    }

    .price {
        padding: .8em 1.5em;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .price h5 {
        font-size: var(--h5);
        color: rgb(61, 97, 6);
        font-weight: 700;
        font-family: vel;
    }

    .cart {
        padding: .4em 1em;
        border-radius: 5px;
        font-weight: 700;
        background-color: var(--hili);
        border: none;
        box-shadow: 0px 0px 5px var(--para);
        color: var(--fc);
        font-family: vel;
        font-size: var(--btntext);
        cursor: pointer;
        transition: all ease-in-out .5s;
    }
}

@media (min-width:1024px) {
    body {
        background-color: var(--para);
        width: 100%;
        height: 100%;
        color: white;
    }

    main {
        width: 100%;
        height: 100%;
        position: relative;
        cursor: default;
    }

    header {
        padding: 1rem 1.7rem;
        width: 100%;
        position: fixed;
        background-color: transparent;
        top: 0%;
        backdrop-filter: blur(5px);
        z-index: 3;
        transition: all ease-in-out .2s;
    }

    header nav {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: relative;
    }

    .nav-list2,
    .menuu,
    #menu,
    .close {
        display: none;
    }

    nav img {
        width: 3.5rem;
        cursor: pointer;
        aspect-ratio: 1/1;
        /* filter: drop-shadow(0px 0px 3px var(--hili)); */
    }

    .nav-list {
        display: flex;
        align-items: center;
        justify-self: space-around;
        gap: 3rem;
    }

    .nav-list li {
        list-style-type: none;
        transition: all ease-in .7s;
        cursor: pointer;
        font-size: var(--main);
        font-family: vel;
        transition: all ease-in .11s;
    }

    .nav-list li:hover {
        border: 1px solid var(--hili);
        color: var(--hili);
        border-radius: 5px;
        padding: .1em .3em;
    }

    .log {
        display: inline-block;
        padding: .1rem .77rem;
        border-radius: 6px;
        font-family: vel;
        font-size: var(--main);
        cursor: pointer;
        transition: all ease-in .16s;
        background-color: transparent;
        border: 1px solid white;
        color: white;
    }

    .log:hover {
        color: black;
        border-radius: 5px;
        background-color: var(--bg);
        font-weight: 600;
        border: none;
        /* box-shadow: 0px 0px 5px var(--hili); */
    }

    /* hero section starts here  */

    #hero {
        height: 100vh;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }


    /* hero left part  */
    .left {
        width: 100%;
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    .left h1 {
        font-weight: 900;
        font-family: vel;
        font-size: 4.8rem;
        text-align: center;
        color: white;
    }

    h5 {
        font-size: var(--main);
        font-family: vel;
        font-weight: 300;
    }


    .hbtn {
        margin-top: 1em;
        padding: .6em 1em;
        border-radius: 10px;
        font-weight: 300;
        background-color: transparent;
        border: 2px solid white;
        font-family: vel;
        font-size: var(--main);
        cursor: pointer;
        color: white;
        transition: all ease .3s;
    }

    .hbtn:hover {
        color: black;
        border-radius: 5px;
        background-color: var(--bg);
        font-weight: 900;
        border: none;
        box-shadow: 0px 0px 5px var(--hili);
    }

    .hbtn:active {
        transform: scale(1.04);
    }

    .right {
        display: none;
    }

    /* new collection section  */

    #new {
        width: 100%;
        padding: 0 1.5rem;
        position: relative;
        gap: 2.4em;
        margin-bottom: 5%;

    }

    #new h1 {
        font-size: var(--pch1);
        width: 100%;
        font-family: vel;
        font-weight: 900;
        letter-spacing: 2px;
        line-height: 2;
        text-align: center;
        text-transform: uppercase;
        color: var(--hili);
        filter: drop-shadow(2px 4px 8px rgba(10, 9, 9, 0.575));
    }

    #newcards {
        padding: 0 5vw;
        margin-top: 5%;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        gap: 3rem;
        flex-wrap: nowrap;
        /* overflow: scroll; */
        /* or auto if you want to show only when needed */
        -ms-overflow-style: none;
        /* IE and Edge */
        /* scroll-behavior: smooth;
        scrollbar-width: none; */
    }

    .cardin {
        width: 40vh;
        aspect-ratio: 1/1;
        position: relative;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        box-shadow: 3px 3px 16px rgba(0, 0, 0, 0.397);
    }

        /* card image  */
    .nimgs {
        width: 100%;
        aspect-ratio: 1;
        position: relative;
    }

    .nimgs img {
        border-top-right-radius: 20px;
        border-top-left-radius: 20px;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        aspect-ratio: 1/1;
        transition: all ease-in-out .4s;
    }

    /* card top image */
    .nimgs .nbott {
        opacity: 0;
        z-index: 1;
      }
      
      .nimgs:hover .nbott {
        opacity: 1;
      }
      
      .nimgs:hover .ntop {
        opacity: 0;
      }


    .nname {
        padding: 1em;
    }

    .nname h3 {
        font-size: 2vw;
        font-family: hel;
        font-weight: 400;
        text-align: start;
    }

    .nname p {
        font-size: var(--btntext);
        font-family: hel;
        font-weight: 200;
    }

    .nsize {
        padding: 1em;
        display: flex;
        align-items: center;
        gap: 1em;
    }

    .nsize h5 {
        font-size: var(--btntext);
        font-family: vel;
        font-weight: 300;
        font-size: var(--h5);
    }

    .nsize h6 {
        font-size: .7rem;
        font-family: hel;
        font-weight: 100;
        letter-spacing: 1px;
        padding: 5px;
        transition: all ease .7s;
        border: 1px transparent;
        cursor: pointer;
    }

    .nsize h6:hover {
        border: 1px solid goldenrod;
        border-radius: 4px;

    }

    .nprice {
        padding: 1em;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .nprice h5 {
        font-size: var(--h5);
        color: rgb(112, 180, 10);
        font-weight: 400;
        font-family: vel;
    }

    .ncart {
        padding: .55rem;
        border-radius: 5px;
        font-weight: 900;
        background-color: var(--hili);
        border: none;
        box-shadow: 0px 0px 5px var(--para);
        color: rgb(49, 48, 48);
        font-family: vel;
        font-size: var(--btntext);
        cursor: pointer;
        transition: all ease-in-out .5s;
    }

    .ncart:hover {
        background-color: var(--bg);
        border: none;
        box-shadow: 0px 0px 5px var(--hili);
    }

    .ncart:active {
        transform: scale(1.04);
    }





    /* collection section */

    #collection {
        width: 100%;
        min-height: 100vh;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: column;
        gap: 5rem;
    }

    #collection h1 {
        font-size: var(--pch1);
        color: var(--bg);
        filter: drop-shadow(0px 0px 8px rgba(0, 0, 0, 0.452));
        width: 100%;
        font-family: vel;
        font-weight: 900;
        letter-spacing: 2px;
        text-align: center;
        text-transform: uppercase;
    }

    /* cards process starts from here  */

    #cards {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        gap: 4rem;
    }

    .card {
        position: relative;
        width: 40vh;
        aspect-ratio: 1/1;
        position: relative;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        box-shadow: 3px 3px 16px rgba(0, 0, 0, 0.397);
    }

    /* card image  */
    .imgs {
        width: 100%;
        aspect-ratio: 1;
        position: relative;
    }

    .imgs img {
        border-top-right-radius: 20px;
        border-top-left-radius: 20px;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        aspect-ratio: 1/1;
        transition: all ease-in-out .8s;
    }

    /* card top image */
    .imgs .bott {
        opacity: 0;
        z-index: 1;
      }
      
      .imgs:hover .bott {
        opacity: 1;
      }
      
      .imgs:hover .top {
        opacity: 0;
      }

    .name {
        padding: .8em 1.5em;
    }

    .name h3 {
        font-size: var(--header);
        font-family: vel;
        font-weight: 400;
        text-align: start;
    }

    .name p {
        font-size: var(--h5);
        font-family: hel;
        font-weight: 100;
    }

    .size {
        padding: .5rem 1.5em;
        display: flex;
        align-items: center;
        gap: 1rem;
    }

    .size h5 {
        font-family: vel;
        font-weight: 300;
        font-size: var(--h5);
    }

    .size h6 {
        font-size: .7rem;
        font-family: hel;
        font-weight: 100;
        letter-spacing: 1px;
        padding: 5px;
        transition: all ease .7s;
        border: 1px transparent;
        cursor: pointer;
    }

    .size h6:hover {
        border: 1px solid goldenrod;
        border-radius: 4px;

    }


    .price {
        padding: .8em 1.5em;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .price h5 {
        font-size: var(--h5);
        color: rgb(86, 139, 6);
        font-weight: 700;
        font-family: vel;
    }

    .cart {
        padding: .4em 1em;
        border-radius: 5px;
        font-weight: 600;
        background-color: var(--hili);
        border: none;
        box-shadow: 0px 0px 5px var(--para);
        color: var(--para);
        font-family: vel;
        font-size: var(--btntext);
        cursor: pointer;
        transition: all ease-in-out .5s;
    }

    .cart:hover {
        background-color: var(--bg);
        border: none;
        box-shadow: 0px 0px 5px var(--hili);
    }

    .cart:active {
        transform: scale(1.04);
    }

}